h1, h2, h3, h4, h5, h6 {
  font-family: $text-primary;
}

p {
  font-family: $text-primary;
  font-size: 17px;
}

a {
  font-family: $text-primary;
  font-size: 17px; 
}

li {
  font-family: $text-primary;
  font-size: 17px;
}
