$primary-color: #aa5f52;
$secondary-color: #f9f0ea;
$accent-color: #2ecc71;

$link-color: #45a1de;

$text-primary-color: #000000;
$text-secondary-color: #212121;

$text-primary: 'Roboto Condensed', sans-serif;
$text-secondary: 'Raleway', sans-serif;