#header {
  background-color: #e74c3c;
}

#header > ul > li > a > h1 {
  font-size: 20px;
  color: #ffffff;
}

#header > ul > li > a:hover {
  text-decoration: none;
}

#header > ul > li {
  list-style: none;
  display: inline-block;
}