{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HackerNews</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>

  <div class="container">
    <div id="header">
      <ul>
      <li>
        <a href="/"><h1>Not Hacker News</h1></a>
      </li>
        <li id="user-info">
          {% if user.is_authenticated %}
            {{ user.username }} | <a href="/story/">submit</a> | <a href="/logout/">logout</a>
            {% else %}
              <a href="/login/">login</a>
              <a href="/register/">register</a>
          {% endif %}
        </li>
      </ul>
    </div>
    {% block content %}
    {% endblock %}
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  {% block foot %}
  {% endblock foot %}
</body>
</html>